<div class="sp-center">
    <nav class="navbar navbar-default" style="margin-bottom: -20px">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="padding-left: 55px;" class="active"><a href="#">Home</a></li>
                    <li style="padding-left: 55px"><a href="#">About</a></li>
                    <li style="padding-left: 55px"><a href="#">Contact</a></li>

                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
                <!--<form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign-Up</a></li>
                    <li><a href="#">Login</a></li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="jumbotron">
        <h1>Social Profiler</h1>
        <p>Gather information about your friends and acquaintance personalities.</p>
    </div>

    <div class="cp-tab-container sp-center-soft">
        <div class="well well-lg">

            <!-- Nav tabs -->

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Facebook</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Twitter</a></li>
                <li role="presentation"><a href="#custom" aria-controls="custom" role="tab" data-toggle="tab">Custom</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">.asdasdas..</div>
                <div role="tabpanel" class="tab-pane fade" id="profile">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                    making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                    of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                    (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from
                    "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the
                    1914 translation by H. Rackham.
                </div>
                <div role="tabpanel" class="tab-pane fade clearfix" id="custom">
                    <div class="col-lg-12" style="margin-bottom: 20px">
                        <div class="pull-left">
                            <h3>Pick someone who you are interested in or enter your own text to evaluate!</h3>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-bottom: 20px">

                        <button type="button" class="btn btn-danger active">2012 Debate - Barack Obama (EN)</button>
                        <button type="button" class="btn btn-info">Michikusa - Natsume (JA)</button>
                        <button type="button" class="btn btn-warning">Reflection - Gandhi (EN)</button>
                        <button type="button" class="btn btn-success">Your Own Text</button>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <textarea class="form-control" rows="15" id="inputText" placeholder="Please enter text to analyze here (minimum 100 words)..."></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-top: 20px">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary">Analyze</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12" style="margin-top: 55px; background-color: powderblue">
    <div class="resultsArea row">
        <h2 style="padding-left: 100px">Results:</h2>
        <div class="col-lg-12">
            <div class="sp-center">
                <h5><em>The scores you see are all percentiles. They are comparing one person to a broader population. For example, a 90% on Extraversion does not mean that the person is 90% extroverted. It means that for that single trait, the person is more extroverted than 90% of the people in the population.</em></h5>
            </div>
            <div style="max-width: 75%;">
                <h2 style="padding-left: 100px">Personality Portrait</h2>
                <h3 style="padding-left: 100px">7020 words analyzed:&nbsp;<span>Very Strong Analysis</span></h3>
            </div>
        </div>
        <div class="col-lg-12">
            <div style="max-width: 75%;" class="sp-center">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>Summary</strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <h5>
                                <strong>
                                    General Description:
                                </strong>
                            </h5>
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one
                                of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                                literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-md-6">
                                <ul style="list-style: none">
                                    <li>
                                        <h4><strong>You are likely to______</strong></h4>
                                    </li>
                                    <li>
                                        <h4><a data-toggle="collapse" href="#likely1"><span><span class="fa fa-check-circle-o">&nbsp;&nbsp;Option 1</span></span></a></h4>
                                        <div id="likely1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4><a data-toggle="collapse" href="#likely2"><span><span class="fa fa-check-circle-o">&nbsp;&nbsp;Option 1</span></span></a></h4>
                                        <div id="likely2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4><a data-toggle="collapse" href="#likely3"><span><span class="fa fa-check-circle-o">&nbsp;&nbsp;Option 1</span></span></a></h4>
                                        <div id="likely3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul style="list-style: none">
                                    <li>
                                        <h4><strong>You are unlikely to______</strong></h4>
                                    </li>
                                    <li>
                                        <h4><a data-toggle="collapse" href="#unlikely1"><span><span class="fa fa-times-circle-o">&nbsp;&nbsp;Option 1</span></span></a></h4>
                                        <div id="unlikely1" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4><a data-toggle="collapse" href="#unlikely2"><span><span class="fa fa-times-circle-o">&nbsp;&nbsp;Option 1</span></span></a></h4>
                                        <div id="unlikely2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <h4><a data-toggle="collapse" href="#unlikely3"><span><span class="fa fa-times-circle-o">&nbsp;&nbsp;Option 1</span></span></a></h4>
                                        <div id="unlikely3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                                                (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                                                The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>



                        </div>
                        <hr />

                        <div class="container-fixed" style="margin-top: 50px">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <p class="pull-right" style="color: steelblue; text-decoration: underline; margin-right: 20px">
                                            <strong>*% = percentile</strong>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 col-xs-4 col-md-4">
                                        <div>
                                            <h3>Personality</h3>
                                            <div>
                                                <!--Emotional Range _START_-->
                                                <h5 class="pull-left" ><a ng-click="teggleEmotionalRange()" tooltips tooltip-template="{{EmotionalRangeDescription}}" >Emotional Range&nbsp;&nbsp;<span ng-hide="emotionalRangeViewAll" class="fa fa-angle-down"></span><span ng-show="emotionalRangeViewAll" class="fa fa-angle-up"></span></a></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <div ng-show="emotionalRangeViewAll">
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{MelancholyDescription}}" >Melancholy</span></h5>
                                                    <rzslider rz-slider-model="melancholy.value"
                                                              rz-slider-options="melancholy.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{ImpulsivnessDescription}}">Impulsiveness</span></h5>
                                                    <rzslider rz-slider-model="impulsiveness.value"
                                                              rz-slider-options="impulsiveness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{SelfConsciousnessDescription}}">Self-consciousness</span></h5>
                                                    <rzslider rz-slider-model="selfConsciousness.value"
                                                              rz-slider-options="selfConsciousness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{StressDescription}}">Susceptible to stress</span></h5>
                                                    <rzslider rz-slider-model="stress.value"
                                                              rz-slider-options="stress.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{FieryDescription}}">Fiery</span></h5>
                                                    <rzslider rz-slider-model="Fiery.value"
                                                              rz-slider-options="Fiery.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{WorryDescription}}">Prone to worry</span></h5>
                                                    <rzslider rz-slider-model="worry.value"
                                                              rz-slider-options="worry.options">
                                                    </rzslider>
                                                </div>
                                            </div> <!--Emotional Range _END_-->
                                            <div>
                                                <!--Openness _START_-->
                                                <h5 class="pull-left"><a ng-click="toggleOpenness()" tooltips tooltip-template="{{opennessDescription}}">Openness&nbsp;&nbsp;<span ng-hide="opennessViewAll" class="fa fa-angle-down"></span><span ng-show="opennessViewAll" class="fa fa-angle-up"></span></a></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <div ng-show="opennessViewAll">
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{intellectDescription}}">Intellect</span></h5>
                                                    <rzslider rz-slider-model="melancholy.value"
                                                              rz-slider-options="melancholy.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{AuthorityDescription}}">Authority-Challenging</span></h5>
                                                    <rzslider rz-slider-model="impulsiveness.value"
                                                              rz-slider-options="impulsiveness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{AdventousnessDescription}}">Adventurousness</span></h5>
                                                    <rzslider rz-slider-model="selfConsciousness.value"
                                                              rz-slider-options="selfConsciousness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{ArtisticInterests}}">Artistic Interests</span></h5>
                                                    <rzslider rz-slider-model="stress.value"
                                                              rz-slider-options="stress.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{EmotionalDescription}}">Emotianlity</span></h5>
                                                    <rzslider rz-slider-model="Fiery.value"
                                                              rz-slider-options="Fiery.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{imaginagationDescription}}">Imagination</span></h5>
                                                    <rzslider rz-slider-model="worry.value"
                                                              rz-slider-options="worry.options">
                                                    </rzslider>
                                                </div>
                                            </div> <!--Openness _END_ -->
                                            <div>
                                                <!--Conscientiousness _START_-->
                                                <h5 class="pull-left"><a ng-click="toggleConscientiousness()" tooltips tooltip-template="{{ConscientousnessDescription}}">Conscientiousness&nbsp;&nbsp;<span ng-hide="conscientiousnessViewAll" class="fa fa-angle-down"></span><span ng-show="conscientiousnessViewAll" class="fa fa-angle-up"></span></a></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <div ng-show="conscientiousnessViewAll">
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{cautiousnessDescription}}">Cautiousness</span></h5>
                                                    <rzslider rz-slider-model="melancholy.value"
                                                              rz-slider-options="melancholy.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{selfEfficentyDescription}}">Self-Effiacy</span></h5>
                                                    <rzslider rz-slider-model="impulsiveness.value"
                                                              rz-slider-options="impulsiveness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{AchievementStrivingDesciption}}">Achievement Striving</span></h5>
                                                    <rzslider rz-slider-model="selfConsciousness.value"
                                                              rz-slider-options="selfConsciousness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{selfDisiplineDescription}}">Self-Discipline</span></h5>
                                                    <rzslider rz-slider-model="stress.value"
                                                              rz-slider-options="stress.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{dutifullnessDescription}}">Dutifulness</span></h5>
                                                    <rzslider rz-slider-model="Fiery.value"
                                                              rz-slider-options="Fiery.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{OrderlinessDescription}}">Orderliness</span></h5>
                                                    <rzslider rz-slider-model="worry.value"
                                                              rz-slider-options="worry.options">
                                                    </rzslider>
                                                </div>
                                            </div> <!--Conscientiousness _END_ -->

                                            <div>
                                                <!--Introversion/Extraversion _START_-->
                                                <h5 class="pull-left"><a ng-click="toggleIntroExtra()" tooltips tooltip-template="{{IntroVersionExtraDescription}}">Introversion/Extraversion&nbsp;&nbsp;<span ng-hide="introVersionExtroViewAll" class="fa fa-angle-down"></span><span ng-show="introVersionExtroViewAll" class="fa fa-angle-up"></span></a></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <div ng-show="introVersionExtroViewAll">
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{AssertivnessDesctiption}}">Assertivness</span></h5>
                                                    <rzslider rz-slider-model="melancholy.value"
                                                              rz-slider-options="melancholy.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{activityLevleDescription}}">Activity Level</span></h5>
                                                    <rzslider rz-slider-model="impulsiveness.value"
                                                              rz-slider-options="impulsiveness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{outgoingDescription}}">Outgoing</span></h5>
                                                    <rzslider rz-slider-model="selfConsciousness.value"
                                                              rz-slider-options="selfConsciousness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{gregiousnessDescription}}">Gregariousness</span></h5>
                                                    <rzslider rz-slider-model="stress.value"
                                                              rz-slider-options="stress.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{cheerfullnessDescription}}">Cherrfulness</span></h5>
                                                    <rzslider rz-slider-model="Fiery.value"
                                                              rz-slider-options="Fiery.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{excitmentSeekingDescription}}">Excitment-Seeking</span></h5>
                                                    <rzslider rz-slider-model="worry.value"
                                                              rz-slider-options="worry.options">
                                                    </rzslider>
                                                </div>
                                            </div> <!--Introversion/Extraversion-->
                                            <div>
                                                <!--Agreeableness _START_-->
                                                <h5 class="pull-left"><a ng-click="toggleAgreeability()" tooltips tooltip-template="{{AggreeablenessDescription}}">Agreeableness&nbsp;&nbsp;<span ng-hide="aggreeabilitynessViewAll" class="fa fa-angle-down"></span><span ng-show="aggreeabilitynessViewAll" class="fa fa-angle-up"></span></a></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <div ng-show="aggreeabilitynessViewAll">
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{SympathyDescription}}">Sympathy</span></h5>
                                                    <rzslider rz-slider-model="melancholy.value"
                                                              rz-slider-options="melancholy.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{uncompromisingDescription}}">Uncompromising</span></h5>
                                                    <rzslider rz-slider-model="impulsiveness.value"
                                                              rz-slider-options="impulsiveness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{altruismDescription}}">Altruism</span></h5>
                                                    <rzslider rz-slider-model="selfConsciousness.value"
                                                              rz-slider-options="selfConsciousness.options">
                                                    </rzslider>

                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{cooperationDescription}}">Cooperation</span></h5>
                                                    <rzslider rz-slider-model="stress.value"
                                                              rz-slider-options="stress.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{trustDescription}}">Trust</span></h5>
                                                    <rzslider rz-slider-model="Fiery.value"
                                                              rz-slider-options="Fiery.options">
                                                    </rzslider>
                                                    <h5 class="pull-left" style="padding-left: 20px"><span tooltips tooltip-template="{{ModestyDescription}}">Modesty</span></h5>
                                                    <rzslider rz-slider-model="worry.value"
                                                              rz-slider-options="worry.options">
                                                    </rzslider>
                                                </div>
                                            </div> <!--Agreeableness _END-->
                                        </div> <!--Personality End-->
                                    </div>

                                    <div class="col-lg-4 col-xs-4 col-md-4">
                                        <h3>Consumer Needs</h3>
                                        <div>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Structure&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <hr />
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Curosity&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Challenge&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Practicality&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Stability&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <div ng-show="expandConsumerNeeds">
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Ideal&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Excitement&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Liberty&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Closeness&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Harmony&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Love&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                                <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">SelfExpression&nbsp;&nbsp;</span></h5>

                                                <rzslider rz-slider-model="emotionalRange.value"
                                                          rz-slider-options="emotionalRange.options">
                                                </rzslider>
                                            </div>
                                            <p class="pull-right" style="text-decoration: underline" ng-hide="expandConsumerNeeds" ng-click="toggleConsumerNeeds()">
                                                <a>>></a>
                                            </p><p class="pull-right" style="text-decoration: underline" ng-show="expandConsumerNeeds" ng-click="toggleConsumerNeeds()">
                                                <a><<</a>
                                            </p>
                                        </div>


                                    </div>
                                    <div class="col-lg-4 col-xs-4 col-md-4">
                                        <h3>Values</h3>
                                        <div>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Liberty&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Closeness&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Harmony&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">Love&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                            <h5 class="pull-left"><span tooltips tooltip-template="{{WorryDescription}}">SelfExpression&nbsp;&nbsp;</span></h5>

                                            <rzslider rz-slider-model="emotionalRange.value"
                                                      rz-slider-options="emotionalRange.options">
                                            </rzslider>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>